@import "$lib/css/app.css";

.blogwrap {
	@apply centergrid;
	position: absolute;
	min-width: 40vw;
	@apply top-5;
	overflow: hidden;
	@apply scroll-pb-10;
}

.title {
	@apply text-green-500;
	@apply text-2xl;
}

.virtgrid {
	@apply centergrid;
	top: 30%;
	left: 30%;
}

.mainwrap {
	@apply flex;
	@apply max-w-full;
	@apply max-h-full;
}
