version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: node
    directory: "/"
    groups:
      all:
        patterns:
          - "*"
    schedule:
      interval: "daily"
