@import "$lib/css/app.css";
@import "$lib/animations/fade.css";
@mixin fade 2;
.virtgrid {
	@apply centergrid;
	top: 30%;
	left: 30%;
}
.blogbox {
	@apply centergrid;
	@apply border;
	@apply border-white;
	position: relative;
	min-width: 40vw;
	min-height: fit-content;
	max-width: 40vw;
	max-height: fit-content;
}
.blogwrap {
	@apply centergrid;
	position: absolute;
	min-width: 40vw;
	@apply top-5;
	overflow: hidden;
	@apply scroll-pb-10;
}
.title {
	@apply text-green-500;
	@apply text-2xl;
}
.mainwrap{
	@apply flex;
	@apply  max-w-full;
	@apply  max-h-full;
}