@import "../app.css";
.vertflex {
	@apply centerflex;
	flex-direction: column;
}
.blogbox {
	@apply vertflex;
	@apply border;
	@apply border-white;
	position: relative;
	min-width: 40vw;
	min-height: fit-content;
	max-width: 40vw;
	max-height: fit-content;
}
.blogwrap{
	@apply centerflex;
	position: relative;
	min-width: 40vw;
	max-height: 80vh;
	min-height: fit-content;
}
.title {
	@apply text-green-500;
	@apply text-2xl;
}
