@import '$lib/css/app.css';



.fade1s {
	animation: fadein 1s;
}



.fade2s {
	animation: fadein 2s;
}



.fade3s {
	animation: fadein 3s;
}



.fade4s {
	animation: fadein 4s;
}



.fade5s {
	animation: fadein 5s;
}


.gloss {
	background-color: rgba(255, 255, 255, .15);

	backdrop-filter: blur(5px);

}


.gloss {
	border-radius: 9999px;

	@apply px-2;
	@apply py-1;
}

.menu {
	@apply centergrid;
	@apply max-h-min;
	@apply min-h-fit;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@utility small-button {
	@apply px-2;
	@apply py-1;
	@apply text-white;
	@apply text-center;
	border-radius: 9999px;

}

.link-item {
	background-color: #0F172A;
	@apply text-white;
	@apply text-center;
	@apply min-w-full;
	@apply min-h-full;

	&a:link,
	a:visited {
		color: #65C44F;
	}
}

.text-item {
	@apply bg-purple-500;
	@apply small-button;
}