@import "$lib/css/app.css";



.submit {
	border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
	@apply small-button;
	font-family: inherit;
	background-color: #0f172a;
	color: #65c44f;
	cursor: pointer;
	font-weight: 500;

	&:hover {
		border-color: #646cff;
		background-color: #1e293b;
	}

	&:focus-visible, &:focus {
		outline: 2px solid #646cff;
		outline-offset: 2px;
	}
}

@utility button {
	@apply text-white;
	@apply text-center;
	border-radius: 0.5rem;
}

@utility small-button {
	@apply button;
	@apply px-4;
	@apply py-2;
}
