.footer{
    @apply grid;
    animation: fadein 4s;
	@apply text-center;
    @apply fixed;
    @apply bottom-5;
    width: 100%;
	left: 0%;
    
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
