.centergrid {
	@apply grid;
	@apply justify-center;
	@apply self-center;
	@apply items-center;
	@apply text-center;
	@apply relative;
}
.portwrap{
    @apply centergrid;
	@apply border;
	@apply border-white;
	position: relative;
	min-width: 40vw;
	min-height: fit-content;
	max-width: 40vw;
	max-height: fit-content;
}