.barwrap {
	@apply grid;
	animation: fadein 4s;
	@apply text-center;
	@apply fixed;
	@apply top-5;
    @apply left-3;

	width: 5%;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.droplink{
    @apply p-2; 
    @apply w-52;
}