@define-mixin fade $amount, $number {
	.fade$(number){
		animation: fadein $(amount)s;
	}
}
.barwrap {
	@apply grid;
	animation: fadein 4s;
	@apply text-center;
	@apply fixed;
	@apply top-5;
	@apply left-10;
	@apply text-center;
	width: 5%;
}
@mixin fade 1.1, 1;
@mixin fade 1.6, 2;
@mixin fade 2.1, 3;
@mixin fade 2.6, 4;
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.droplink {
	@apply w-20;
	transition: inherit;
	
}
.buttonbar{
	@apply inline-block;
	@apply  h-6;
	@apply w-6;
	@apply  stroke-current;
}
