@import 'tailwindcss';

.barwrap {
	@apply grid;
	animation: fadein 4s;
	@apply text-center;
	@apply fixed;
	@apply top-5;
	@apply left-10;
	@apply text-center;
	width: 5%;
}

.fade1 {
	animation: fadein 1.1s;
}

.fade2 {
	animation: fadein 1.6s;
}

.fade3 {
	animation: fadein 2.1s;
}

.fade4 {
	animation: fadein 2.6s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.droplink {
	@apply w-20;
	transition: inherit;

}

.buttonbar {
	@apply inline-block;
	@apply h-6;
	@apply w-6;
	@apply stroke-current;
}