@import '$lib/css/app.css';

.fade2s {
	animation: fadein 2;
}

.fade1s {
	animation: fadein 1;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.portwrap {
	@apply centergrid;
	position: absolute;
	min-width: 40vw;
	@apply top-5;
	overflow: hidden;
	@apply scroll-pb-10;
}

.title {
	@apply text-green-500;
	@apply text-2xl;
}

.virtgrid {
	@apply centergrid;
	top: 30%;
	left: 30%;
}

.centergrid {
	@apply grid;
	@apply justify-center;
	@apply self-center;
	@apply items-center;
	@apply text-center;
	@apply relative;
}

.indiportwrap {
	@apply centergrid;
	der-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	position: relative;
	min-width: 40vw;
	min-height: fit-content;
	max-width: 40vw;
	max-height: fit-content;
}

.mainwrap {
	@apply flex;
	@apply max-w-full;
	@apply max-h-full;
}