name: Deploy static content to Pages
on:
  push:
    branches:
      - main # Execute on every push
  workflow_dispatch: # Execute on manual trigger
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # Linux base image
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6 # Checkout repo
      - uses: oven-sh/setup-bun@v2 # Setup bun
        with:
            bun-version: latest # You can also use a specific version
      
      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.bun/install/cache
            node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-
      
      - name: build
        run: |
         bun install
         bun run build
         cp ./404.html ./build/404.html
      - name: deploy
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload build repo
          path: './build/.'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      
      
